In [1]:
import math 
import random

### 값 타입
- 파이썬은 정수, 실수, 논리값 등을 객체라는 것으로 만들어 관리한다.

In [4]:
# id : 생성된 객체를 구분하기 위한 일련번호를 확인할 수 있다.
# 불필요한 메모리를 낭비하지 않게 하기 위해 객체 차용
print(id(100))
print(id(200))
print(id(100))

140711288321560
140711288324760
140711288321560

In [5]:
# type : 객체를 생성하기 위해 사용한 클래스의 이름을 확인할 수 있다.
print(type(100))
print(type(11.11))

<class 'int'>
<class 'float'>

In [7]:
# 다른 형태의 값으로 생성할 수 있다.
a1 = int(11.11)
# 실수를 정수로
a2 = int(True)
a3 = int('100')
# 문자를 정로로
print(a1, a2, a3)

a1 = float(11)
a2 = float(True)
a3 = float ('11.11')
print(a1, a2, a3)

a1 = bool(11)
a2 = bool(11.11)
a3 = bool('100')
a4 = bool(0)
print(a1, a2, a3, a4)

11 1 100
11.0 1.0 11.11
True True True False

In [9]:
# 절대값
# (  ) 안에 넣어준 값의 절댓값을 구해준다.
a1 = abs(30)
a2 = abs(-30)
print (a1, a2)

30 30

In [12]:
# 소수점 이하 반올림
a1 = math.ceil(100)
a2 = math.ceil(55.55)
a3 = math.ceil(-55.55)
print(a1, a2, a3)

100 56 -55

In [13]:
# 소수점 이하 내림
a1 = math.floor(100)
a2 = math.floor(55.55)
a3 = math.floor(-55.55)

print(a1, a2, a3)

100 55 -56

In [15]:
# 주어진 값에서 최소 또는 최대값을 가져온다.
a1 = min(30, -10, -20, 40)
a2 = max(30, -10, -20, 40)
print(a1, a2)

-20 40

In [16]:
# 소수점 이하 반올림
a1 = round(22.22)
a2 = round(55.55)

# 소수점 이하 두 번째 자리를 기준으로 반올림
a3 = round(22.22, 1)
# 1의 자리를 기준으로 반올림
a4 = round(22.22, -1)
print(a1, a2, a3, a4)

22 56 22.2 20.0