In [5]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 그래프 기본 테마 설정 
sns.set()

# 복잡한 통계처리를 위한 라이브러리
from scipy import stats

## 01_1번량 데이터 통계량

### 데이터 준비

In [6]:
# 물고기 몸길이
fish_length_df = pd.read_csv('data/3-4-1-fish-length.csv')
fish_length_df

   length
0       2
1       3
2       3
3       4
4       4
5       4
6       4
7       5
8       5
9       6

In [10]:
# ndarray로 추출한다.
fish_length = fish_length_df['length'].values
fish_length

array([2, 3, 3, 4, 4, 4, 4, 5, 5, 6], dtype=int64)

### 표본 크기
- 분석을 위해서 데이터 표본의 행의 개수
- 모집단 전체를 가지고 분석할 때는 모집단의 크기가 된다.

In [12]:
# ndarray
a1 = len(fish_length)
# dataframe
a2 = len(fish_length_df)
a3 = fish_length_df.size
print(a1, a2, a3)

10 10 10

In [14]:
# dataframe의 count 함수는 결측치를 제외한 데이터의 개수를 구한다.
a4 = fish_length_df['length'].count()
print(a4)

10

### 합계
- 결측치를 제외한 총합을 구한다.

In [17]:
# ndarray
a1 = np.sum(fish_length)
a2 = fish_length.sum()
print(a1, a2)
a3 = fish_length_df['length'].sum()

print(a1, a2, a3)

40 40
40 40 40

### 평균
- 결측치를 제외한 평균을 구한다.

In [18]:
# 평균은 총합을 표본의 개수로 나누어준다.
# 표본의 크기
n = len(fish_length)
# 총합
sum_value = np.sum(fish_length)
# 평균
x_bar = sum_value / n
x_bar

4.0

In [20]:
# ndarray
a1 = np.mean(fish_length)
a2 = fish_length.mean()
# dataframe
a3 = fish_length_df['length'].mean()
print(a1, a2, a3)

4.0 4.0 4.0

### 02_표본 분산

In [22]:
# 표본분산을 공식대로 구현해본다.
s2 = np.sum((fish_length - np.mean(fish_length)) **2) / len(fish_length)
s2

1.2

In [24]:
# 평균
a1 = np.mean(fish_length)
# 각 원소의 값을 평균으로 빼준다.
a2 = fish_length - a1
# 뺀 값의 제곱을 구한다.
a3 = a2 ** 2
# 총합을 구한다.
a4 = np.sum(a3)
a4
# 표본의 개수로 나눠준다.
s2 = a4 / len(fish_length)
s2

1.2

In [25]:
# 분산을 구하는 함수
# 
a1 = np.var(fish_length)
a2 = fish_length.var()
a3 = fish_length_df['length'].var()
print(a1, a2, a3)

1.2 1.2 1.3333333333333333